.footer {
  height: 100vh;
  width: 100vw;
  position: relative;
  right: 20px;
  background-color: $green-color2;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &--link {
      text-decoration: none;
      color: $beige-color;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
}
